<div class="container">
  <div class="row">
<section class="col-6">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label><br>
      <input type="text" id="post-title" name="post-title" /><br><br>
    </div>
    <div>
      <label for="blog-post">Body</label><br>
      <textarea id="blog-post" name="blog-post"></textarea>
    </div>
    <button type="submit" class="btn">Create</button><br>
  </form>
</section><br>

<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link btn">Edit post</a>
    {{/each}}
</section>
</div>
</div>

<script src="/javascript/add-post.js"></script>